<h1 class="login-signup-header">Log In</h1>

<div class="login-signup-form">
    <%= form_tag sessions_path do %>
	  <div class="field">
	    <%= label_tag :email %>
	    <br />
	    <%= text_field_tag :email, params[:email] %>
	  </div>
	  <br />

	  <div class="field">
	    <%= label_tag :password %>
	    <br />
		<%= text_field_tag :password, params[:password] %>
	  </div>

	  <div class="actions"><%= submit_tag "Log In" %></div>
	<% end %>

	<div id="login-signup-interchange">
		<p>Don't have an account with us yet?</p>
		<p><%= link_to "Sign Up!", new_user_path %></p>
	</div>
</div>